
.login-transition-enter {
    opacity: 0;
}

.login-transition-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.login-transition-exit {
    opacity: 1;
}

.login-transition-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}
